* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-size: 16px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
button.primary {
  padding: 1rem 2rem;
  background-color: #145dc7;
  color: #fff;
  font-weight: bold;
  border-radius: 0.5rem;
}
button.block {
  display: block;
  width: 100%;
}
input {
  color: inherit;
  font-size: inherit;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder, ::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa;
}