@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toast {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.toast-animation {
  animation: toast 300ms;
}
